body {
    background: url(../images/group-stage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.data-tabs {
    opacity: 0;
}

.tabs .indicator  {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1565c0;
    will-change: left, right;
}

.nav-wrapper {
    background-color: orangered;
}
.btn-large {
    background-color: orangered;
}
.btn-floating:hover {
    background-color: #1565c0;
}
.left-arrow {
    color: #1565c0;
    position: relative;
    right: 250px;
}

.right-arrow {
    color: #1565c0;
    position: relative;
    left: 250px;
}

#welcome-header {
    color: orangered;
    font-family: 'Josefin Sans', sans-serif;
}


#tab-card {
    background-repeat: no-repeat;
    background-size: 100%;
    color: orangered;
}

#video-card {
    background-repeat: no-repeat;
    background-size: 100%;
    color: orangered;
}

#tuner-card {
    background-repeat: no-repeat;
    background-size: 100%;
    color: orangered;
}

#metronome-card {
    background-repeat: no-repeat;
    background-size: 100%;
    color: orangered;
}

#tabs {
    background-color: rgb(21, 18, 26, 0);
    color: orangered;
}

#carouselRow {
    font-family: 'Josefin Sans', sans-serif;
}

#search-button {
    position: relative;
    right: 10px;
}

.tabs .tab a {
    color: orangered;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #1565c0;
