@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* Global Element Styles */

body {
    background-color: #282828;
    background-image: url(../images/a1-icon-shadow-blue.png);
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    background-position: center bottom;
    background-size: 680px;
    background-attachment: fixed;
}

nav {
    margin-bottom: 10px;
    height: 65px;
}

h1, h4 {
    text-shadow: 3px 3px 1px black;
    font-weight: bold;
}
h4 {
    margin-bottom: 40px;
}

/* Tabs Table Styles */

table {
    background-color: #404040;
    border-radius: 10px;  
    box-shadow: inset 4px 4px 10px #222, inset -4px -4px 10px #222;
    padding: 20px;
}

table {
    border-collapse: collapse;
  }
table td {
    border: 1px solid #606060; 
  }
table tr:first-child td {
    border-top: 0;
  }
table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }

table, th, td, tr {
    text-align: center;
}

td {
    height: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

th {
    text-transform: uppercase;
    color: orangered;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px !important;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

thead {
    box-shadow: 4px 4px 10px #222, -4px -4px 10px #222;
    border-radius: 10px;
}
#artist-search {
    margin-bottom: 20px;
}

/* Search Input Form Styles */

#tab-form, #yt-form {
    margin: 0 auto;
    background-color: #404040;
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 10px #222, inset -4px -4px 10px #222;
    height: 150px;
}

/* Metronome Styles */

#control-container {
    padding-bottom: 40px;
}

#metro-container, .counter {
    border-radius: 10px;
    box-shadow: inset 4px 4px 10px #222, inset -4px -4px 10px #222;
    width: 100%;
}

#bpm-area, #timer-area, #beat-area {
    color: white;
    font-weight: bold;
}

#play-button {
    background-color: #1565c0;
    color: white;
    font-weight: bold;
}

#tap-button {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

#play-button:hover, #tap-button:hover {
    background-color: #404040;
}

/* Tuner Styles */

canvas#tuner-instance {
    margin-top: 100px;
    box-shadow: 4px 4px 10px black;
}

/* Materialize Specific Styles */

#tabs {
    background-color: rgb(21, 18, 26, 0);
    color: orangered;
    margin-bottom: 20px;
}

a#tab-for-tabs, a#tab-for-play, a#tab-for-tuner, a#tab-for-metronome {
    font-weight: bold;
}

#metronome-tab {
    margin-top: 50px;
}

.data-tabs {
    opacity: 0;
}

.tabs .indicator  {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1565c0;
    will-change: left, right;
}

.nav-wrapper {
    background-color: orangered;
    box-shadow: 5px 5px 4px black;
}

.btn-large {
    background-color: orangered;
}

.btn-floating:hover {
    background-color: #1565c0;
}

.left-arrow {
    color: #1565c0;
    position: relative;
    right: 250px;
}

.right-arrow {
    color: #1565c0;
    position: relative;
    left: 250px;
}

/* Site Layout Header/Carousel Styles */

#welcome-header {
    color: orangered;
    font-family: 'Josefin Sans', sans-serif;
}

#tab-card, #video-card, #tuner-card, #metronome-card {
    color: orangered;
}

#carouselRow {
    font-family: 'Josefin Sans', sans-serif;
}

#logo_img {
    height: 30%;
    width: 30%;
}

.tabs .tab a {
    color: orangered;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #1565c0;
}

#dropdown1 {
    opacity: 1.0;
    top: -65px;
    background-color: #1565c0;
}

#dropdown1 a:hover {
    background-color: orangered;
}

.dropdown-content{
    width: max-content !important;
}

/* DataTables.js Override Styles */

div#artist-search_paginate.dataTables_paginate.paging_simple_numbers {
    color: #1565c0;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: orangered !important;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: orangered;
    font-weight: bold;
}

#artist-search_wrapper {
    margin-bottom: 20px;
}

#artist-search_wrapper a {
    color: #1565c0;
    font-weight: bold;
}

#artist-search_wrapper a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
}

#artist-search_filter {
    width: 50%;
    float: left;
    color: white;
}

#artist-search_length {
    width: 50%;
    float: left;
    display:none;
}

#artist-search_filter input {
    max-width: 90%;
    color: orangered;
}

#artist-search_info {
    display: inline-block;
    width: 50%;
    margin: 0;
}

#artist-search_paginate {
    width: 50%;
    display: inline-block;
    text-align:right;
}

#artist-search_paginate a {
    margin-left: 20px;
}
.input-field .prefix.active{
    color: orangered !important;
}

/* label focus color */
.input-field input:focus + label {
    color: orangered !important;
}
  /* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid orangered !important;
    box-shadow: 0 1px 0 0 orangered !important
}

@media screen and (max-width: 700px) and (min-width: 300px){
    h1{
        font-size: 35px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 9px;
    }
    .btn-large{
        size: 20px;
    }
    #tab-form, #yt-form {
        width: 90%;
    }
}
@media screen and (max-width: 992px) and (min-width: 701px){
    h1{
        font-size: 35px;
    }
    h4{
        font-size: 25px;
    }
    .btn-large{
        size: 25px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 993px){
    h1{
        font-size: 45px;
    }
    h4{
        font-size: 30px;
    }
}
@media screen and (min-width: 1200px){
    h1{
        font-size: 55px;
    }
    h4{
        font-size: 40px;
    }
} 

